# Configuration Google Sheets
GOOGLE_SPREADSHEET_ID=your_spreadsheet_id_here
GOOGLE_SHEET_NAME_WATCHLIST=Suivi d'Investissement
GOOGLE_SHEET_NAME_SIGNALS=Signaux

# Configuration Trading 212 API (Lecture Seule)
TRADING212_API_KEY=your_trading212_api_key_id
TRADING212_API_SECRET=your_trading212_api_secret
TRADING212_ENVIRONMENT=live
